{% extends 'base.html.twig' %}

{% block title %}Etude index{% endblock %}

{% block body %}
    <h1 class="center maj"> Listes des etudes en cours</h1>

    <table class="table">
        <thead>
            <tr >
                <th>Id</th>
                <th>CreationDate</th>
                <th>Nom</th>

            </tr>
        </thead>
        <tbody>
        {% for etude in etudes %}
            <tr class="tr_hover" onclick="window.location='/etude/{{ etude.id }}'">
                <td>{{ etude.id }}</td>
                <td>{{ etude.creationDate ? etude.creationDate|date('Y-m-d') : '' }}</td>
                <td>{{ etude.nom }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
