{% extends 'base.html.twig' %}

{% block title %}Edit Plage{% endblock %}

{% block body %}
    <h1>Edit Plage</h1>

    {{ include('plage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('plage_index') }}">back to list</a>

    {{ include('plage/_delete_form.html.twig') }}
{% endblock %}
