{% extends 'base.html.twig' %}

{% block title %}New Plage{% endblock %}

{% block body %}
    <h1>Create new Plage</h1>

    {{ include('plage/_form.html.twig') }}

    <a href="{{ path('plage_index') }}">back to list</a>
{% endblock %}
